// Default
//--------------------------------------------------------------------///
$black: #000000;
$white: #ffffff;

// Design System
//--------------------------------------------------------------------//
$primary: #ff630b;
// $secondary: #9cd2cd;
$dark: #1e2130;
$medium: #878787;
$light: #d2d2d2;
// $yellow: #fdc349;
// $skyblue: #9cd2cd;
// $violet: #d2ceff;
// $green: #c5d49b;
